{#
 * @title: "CoworkersPatchwork" TWIG view component
 * @description:
 #}

<div class="CoworkersPatchwork {{ classElement }}">

    {# // TODO : sync avec le back #}
    {# importer "activityFilterBar" component #}
    {%
        include "templates/components/ActivityFilterBar.twig"
        with {
            classElement: 'CoworkersPatchwork_activityFilterBar',
            activities: [
                'édition',
                'graphisme & illustration',
                'journalisme & rédaction',
                'photo & video',
                'traduction',
                'web & UX',
                'autre'
            ]
        }
    %}

    <div class="CoworkersPatchwork_content">
        <ul class="CoworkersPatchwork_items">
            {% for coworker in pCoworkers|slice(0, 1000) %}
                <li class="CoworkersPatchwork_item">
                    <a class="CoworkersPatchwork_link">
                        <div
                            class="CoworkersPatchwork_image"
                            style="background-image: url( {{ coworker.profile_picture }}) "
                        >
                            <div class="CoworkersPatchwork_description">
                                <div class="CoworkersPatchwork_descriptionContent">
                                    <div class="CoworkersPatchwork_name">
                                        <span>{{ coworker.first_name }} </span>
                                        <br/>
                                        <span>{{ coworker.last_name }}</span>
                                    </div>
                                    <div class="CoworkersPatchwork_activity">{{ coworker.activity }}</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>


</div>
